:root {
  --borderColor: #dee3f850;
}

button {
  display: grid;
  align-items: center;
  border: 1px solid var(--borderColor);
  outline: none;
  border-radius: var(--radius);
  background-color: color-mix(in srgb, transparent 80%, var(--highlightColor));
  color: #dcdde1;
  padding: 5px;
  cursor: pointer;
}

button>svg {
  width: 100%;
  height: 100%;
}

.actionsContainer {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: auto auto;
}

.utilitiesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
}

.utilitiesContainer>* {
  max-height: 35px;
}

.restoreActions {
  width: 120px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;

  button:first-child {
    border-radius: var(--radius) 0 0 var(--radius);
  }

  button:last-child {
    border-radius: 0 var(--radius) var(--radius) 0;
  }

  button+button {
    border-left: 1px solid color-mix(in srgb, var(--textMain) 50%, transparent);
  }
}

.restoreActions button {
  height: 2.2em;
  border: none;
}

.restoreActions button>svg {
  height: 100%;
}

.mainControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.mainControls>* {
  height: 35px;
}

.mainControls,
.toolSelector {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--borderColor) transparent;
}

.toolSelector {
  border-top: 1px solid var(--borderColor);
  padding-top: 10px;
  padding-bottom: 5px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}


.save-discard_container {
  height: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;

  button {
    border-radius: 0;
    font-size: 1.3em;
  }

  button:first-child {
    border-radius: var(--radius) 0 0 var(--radius);
  }

  button:last-child {
    border-radius: 0 var(--radius) var(--radius) 0;
  }
}

.saveBtn {
  background-color: var(--highlightColor);
  color: var(--contrastColor);
  border: none;
}

.discardChangesBtn {
  height: 40px;
  background-color: color-mix(in srgb, var(--contrastColor) 5%, transparent);
  border: none;
  box-shadow: 1px 1px 1px rgb(186, 195, 197);
  position: relative;
  top: -1px;
}