main {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  box-sizing: border-box;
  padding: 40px;
}

main,
.actionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main button {
  display: grid;
  align-items: center;
  border: 1px solid #dcdde1;
  outline: none;
  border-radius: var(--radius);
  background-color: color-mix(in srgb, transparent 86%, var(--highlightColor));
  color: #dcdde1;
  padding: 5px;
  cursor: pointer;
}

main button>svg {
  width: 100%;
  height: 100%;
}