:root {
    --radius: 3px;
    --highlightColor: #9980FA;
    --contrastColor: #f5f6fa;
    --blue: #366aad;
}

.form-imageInput {
    text-align: center;
}

.form-imageInput+p {
    font-size: 1.05em;
}

.form-imageInput label {
    display: inline-grid;
    place-content: center;
    border: 2px solid #f7f7f7;
    border-radius: var(--radius);
    padding: 7px 12px;
    font-size: 1.35em;
    font-weight: bold;
    cursor: pointer;
}

main {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main button {
    display: grid;
    align-items: center;
    border: 1px solid #dcdde1;
    outline: none;
    border-radius: var(--radius);
    background-color: transparent;
    color: #dcdde1;
    padding: 5px;
    cursor: pointer;
}

main button>svg {
    width: 100%;
    height: 100%;
}

.canvasContainer {
    display: grid;
    place-content: center;
    align-items: center;
}

.utilitiesContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
}

.utilitiesContainer>* {
    max-height: 35px;
}

.mainControls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-content: center;
    gap: 12px;
}

.mainControls>* {
    height: 35px;
}

.utility-rotate,
.utility-invert {
    &>* {
        height: 100%;
    }
}

.utility-rotate {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.utility-rotate>* {
    aspect-ratio: 1;
}

.restoreActions {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.restoreActions button {
    max-height: inherit;
    width: 80px;
}

.restoreActions button>svg {
    max-height: inherit;
}

.saveBtn {
    height: 40px;
    background-color: var(--highlightColor);
    color: var(--contrastColor);
    border: none;
    border-radius: var(--radius);
    font-size: 1.3em;
}